*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  padding: 0.8rem 0;
  color: #fff;
  position: relative;
  z-index: 99;
}

@media only screen and (max-width: 1280px) {
  .navigation {
    display: none;
  }
  .navigation.show {
    display: block;
  }
}

main {
  min-height: 100vh;
}

footer {
  background-color: #151515;
  color: #fff;
  font-size: 16px;
  padding: 16px 10px;
}

.outline-bottom-right {
  padding: 0 2.5rem 2.5rem 0;
}
.outline-bottom-right::after {
  content: '';
  position: absolute;
  bottom: 0px;
  right: 0;
  width: 180px;
  height: 0;
  border-style: solid;
  border-width: 0 0 7px 0px;
  border-color: #ffca24;
}
.outline-bottom-right::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 180px 8px;
  border-color: #ffca24;
}

@media only screen and (max-width: 768px) {
  .outline-bottom-right {
    padding: 0 1.5rem 1.5rem 0;
  }
  .outline-bottom-right::after {
    width: 90px;
  }
  .outline-bottom-right::before {
    border-width: 0 0 90px 6px;
  }
}
.outline-bottom-left {
  padding: 0 0 2.5rem 2.5rem;
}
.outline-bottom-left::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 180px;
  height: 0;
  border-style: solid;
  border-width: 0 0 7px 0px;
  border-color: #ffca24;
}
.outline-bottom-left::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 180px 8px;
  border-color: #ffca24;
}

@media only screen and (max-width: 768px) {
  .outline-bottom-left {
    padding: 0 0 1.5rem 1.5rem;
  }
  .outline-bottom-left::after {
    width: 90px;
  }
  .outline-bottom-left::before {
    border-width: 0 0 90px 6px;
  }
}

.hexagon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-image: url(/images/Polygon.svg);
  background-position: center;
  background-size: cover;
  width: 97.7px;
  height: 100px;
}
